* {
  box-sizing: border-box;
  --bg-color: #1b0126;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: white;
}

.btn,
button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  margin: 4px;
  padding: 4px 8px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.8rem;
}

.btn:hover,
button:hover {
  border: 1px solid hotpink;
  color: hotpink;
  text-decoration: none;
}

button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

nav {
  position: absolute;
  text-align: right;
  width: 100%;
  padding: 8px;
  z-index: 1;
}

.sign {
  position: fixed;
  color: #fff;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.invader {
  --d: 10px;
}

.left,
.right {
  position: absolute;
  margin: calc(-2 * var(--d)) 0 0 calc(-1 * var(--d));
}

/* animation */

.invader-display {
  position: absolute;
  display: flex;
  --d: 10px;
  overflow: hidden;
}

.invader-display.animate div {
  animation: animate-frames infinite 1.4s steps(1);
}

@keyframes animate-frames {
  0%,
  50%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(var(--w));
  }
  75% {
    transform: translateX(calc(2 * var(--w)));
  }
}
