* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #1b0126;
  color: white;
}

.btn,
button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  margin: 4px;
  padding: 4px 8px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.8rem;
}

.btn:hover,
button:hover {
  border: 1px solid hotpink;
  color: hotpink;
  text-decoration: none;
}

button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

nav {
  position: absolute;
  text-align: right;
  width: 100%;
  padding: 8px;
  z-index: 1;
}

.sign {
  position: fixed;
  color: #fff;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
