.wrapper {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alien {
  box-shadow: 0 0 0 1px hotpink;
  display: flex;
  justify-content: center;
}

.body {
  position: relative;
  box-shadow: 0 0 0 1px rgba(255, 255, 0, 0.114);
  width: var(--w);
  height: var(--h);
  display: flex;
  justify-content: center;
  align-items: center;
}

.anchor {
  position: absolute;
}

.anchor.top {
  top: 0;
  box-shadow: 0 0 0 1px rgb(47, 102, 255);
}

.anchor.bottom {
  bottom: 0;
  box-shadow: 0 0 0 1px rgb(47, 255, 220);
}

.anchor.left {
  left: 0;
  box-shadow: 0 0 0 1px pink;
}

.anchor.right {
  right: 0;
  box-shadow: 0 0 0 1px rgb(255, 217, 47);
}
