.wrapper {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alien {
  box-shadow: 0 0 0 1px hotpink;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
}

.body {
  position: absolute;
  box-shadow: 0 0 0 1px rgba(255, 255, 0, 0.114);
  width: var(--w);
  height: var(--h);
  display: flex;
  justify-content: center;
  align-items: center;
}

.anchor {
  position: absolute;
  display: flex;
}

.anchor[data-dir='top'] {
  top: 0;
  box-shadow: 0 0 0 1px rgb(47, 102, 255);
  justify-content: center;
  align-items: end;
}

.anchor[data-dir='bottom'] {
  bottom: 0;
  box-shadow: 0 0 0 1px rgb(47, 255, 220);
  justify-content: center;
  align-items: start;
}

.anchor[data-dir='left'] {
  left: 0;
  box-shadow: 0 0 0 1px pink;
  align-items: center;
  justify-content: right;
}

.anchor[data-dir='right'] {
  right: 0;
  box-shadow: 0 0 0 1px rgb(255, 217, 47);
  align-items: center;
  justify-content: left;
}

.circle {
  background-color: #fff000;
  border-radius: 50%;
}

.square {
  background-color: #86e63d;
  border-radius: 10px;
}

.body::after {
  position: absolute;
  content: attr(test);
  color: hotpink;
  z-index: 100;
  top: 0px;
}
