.wrapper {
  position: absolute;
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invader .body {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  position: absolute;
  --cell: 10px;
  --w: 1;
  --h: 1;
  width: calc(var(--w) * var(--cell));
  height: calc(var(--h) * var(--cell));
  --x1: 0;
  --y1: 0;
  --x2: 0;
  --y2: 0;
  animation: move-in forwards 0.2s, color-change forwards 2s;
}

.left,
.right {
  position: absolute;
  margin: -20px 0 0 -10px;
}

@keyframes move-in {
  0% {
    transform: translate(var(--x1), var(--y1));
  }
  100% {
    transform: translate(var(--x2), var(--y2));
  }
}

@keyframes color-change {
  0% {
    background-color: aqua;
  }
  10% {
    background-color: #6a1691;
  }
  40%,
  100% {
    background-color: #fff;
  }
  80% {
    background-color: hotpink;
  }
  90% {
    background-color: #6a1691;
  }
}

.indicator {
  position: fixed;
  color: #fff;
  right: 10px;
  bottom: 10px;
}

canvas {
  position: absolute;
}

.copy {
  align-self: end;
}

.info-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.generated-image {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  animation: fade-in forwards 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .animate .layer1 {
  animation: animate-layer1 2s infinite steps(2);
}

@keyframes animate-layer1 {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
}

.animate .layer2 {
  animation: animate-layer2 2s infinite steps(2);
}

@keyframes animate-layer2 {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate .left {
  animation: animate-left 2s infinite steps(2);
}

@keyframes animate-left {
  0%,
  100% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}

.animate .right {
  animation: animate-right 2s infinite steps(2);
}

@keyframes animate-right {
  0%,
  100% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
} */

input {
  border: 0;
  color: #0badd1;
  background-color: #167b914f;
  flex-grow: 1;
}

input:placeholder-shown + .btn-wrapper {
  opacity: 0.5;
  pointer-events: none;
}

.btn-wrapper {
  padding: 4px;
  text-align: center;
  margin-bottom: 40px;
}

section {
  display: flex;
}
